.title{
    color: whitesmoke;
    text-align: center;
    padding-top: 10%;
}

.paper{
    background-image: url(../../images/home_background.jpeg);
      background-size:"cover" !important;
      background-repeat: no-repeat;
      background-color: #cccccc;
      height: 823px;
     background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
}
.link_button{
    background-color: transparent;
    color: whitesmoke;
    border:none;
    margin-left: 130px;
}

.link_button:hover{
    color:#06A10B;
    cursor: pointer;
    border:none;
    
}
.login {
    margin-left: 38%;
    margin-top: 50%;
    background-color: transparent;
    color:red;
    padding:20px;
    border-radius: 30px;
    text-decoration: none !important;
    border-color: black;
    color: blanchedalmond;
}
.login:hover{
    background-color:#06A10B ;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
@media(min-width:412px){
    .link_button{
        margin-left: 1200px;
    }
    .title{
        padding-top: 15px;
    }
    .login{
        margin-top: 250px;
        margin-left:700px;
    }
}